{% include("nav.html") %}  
{% block title %}{% endblock %}
  
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-ingreso.css') }}">

    <section style="padding-top: 100px;" class="crear-cultivo">

                <div class="body-formulario">
                    
                    <p style="padding: 20px;"  class="letra">
                        <b>Ingrese los datos del cultivo</b> 
                    </p>

                    <form class="form-group" method="post">
            
                        <div class="input-container">

                            <input  type="text" class="form-control" name="nombre_cultivo"  id="nombre_cultivo" required>
                            <label  for="nombre_cultivo">Nombre del cultivo:</label><br>
                            
                            
                            <input  style="margin-top: 10px;" type="text" class="form-control" name="tipo_cultivo"  id="tipo_cultivo" required>
                            <label  style="margin-top: 80px" for="tipo_cultivo">Tipo de cultivo:</label><br>

                            <input  style="margin-top: 10px;" type="text" class="form-control" name="ubicacion_cultivo" id="ubicacion_cultivo" required>
                            <label  style="margin-top: 155px"  for="ubicacion_cultivo">Ubicación del cultivo:</label><br>

                            <input  style="margin-top: 10px;" type="text" class="form-control" name="id_sensor" id="id_sensor" required>
                            <label  style="margin-top: 230px"for="id_sensor">Numero de Serie del sensor:</label><br>

                            <div  class="crear">
                                <input type="submit" value="Crear">
                            </div>


                        </div>

                        
                        
                        
                    </form>
                    

                    <div class="col" style="margin-top:5% ;" id="logo">
        
                        <a href="{{ url_for('mis_cultivos') }}" >
                          <img src="{{ url_for('static', filename='assets/misCultivo.png') }}"alt="" class="h-10 w-30" >
                        </a>
                    </div>


                </div>
            
        
    </section>

    <style>

        .crear{
            display: flex;
            justify-content: center; /* ajutar horizontalemente */
        }
        .crear input{
            width: 50%;
            background-color: #355834;
            color: white; 
            border-radius: 20px;
        }

        #logo{
            display: flex;
            align-items: center;
            text-align: center;  
            justify-content: center; /* ajutar horizontalemente */
            margin-bottom: 20px;
        }

        .crear-cultivo{
            width: 100%;
            height: 100vh;
            float: left;    
            background-image:url(/static/assets/fondo\(home\).png);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .body-formulario{
            /* background-color: #f3f3f3; */
            width: 60%;
            background-color: #fffdfd;
            border-radius: 20px ;
        }

        @media screen and (max-width: 910px) { 
            
        }

        @media screen and (min-width: 910px) { 

            
            .cultivo-body{
                width: 100%;
            }
            
        }

    </style>

</div>
{% endblock %}